DEFAULT_FLASK_SETTINGS:
  APPLICATION_ROOT: null
  DEBUG: false
  EXPLAIN_TEMPLATE_LOADING: false
  FLASK_DEBUG: true
  JSONIFY_MIMETYPE: "application/json"
  JSONIFY_PRETTYPRINT_REGULAR: true
  JSON_AS_ASCII: true
  JSON_SORT_KEYS: true
  LOGGER_HANDLER_POLICY: "always"
  LOGGER_NAME: "flask_app"
  MAX_CONTENT_LENGTH: null
  PERMANENT_SESSION_LIFETIME: "31 days 0:00:00"
  PREFERRED_URL_SCHEME: "http"
  PRESERVE_CONTEXT_ON_EXCEPTION: null
  PROPAGATE_EXCEPTIONS: null
  SECRET_KEY: null
  SEND_FILE_MAX_AGE_DEFAULT: "12:00:00"
  SERVER_NAME: null
  SESSION_COOKIE_DOMAIN: null
  SESSION_COOKIE_HTTPONLY: true
  SESSION_COOKIE_NAME: "session"
  SESSION_COOKIE_PATH: null
  SESSION_COOKIE_SECURE: false
  SESSION_REFRESH_EACH_REQUEST: true
  TEMPLATES_AUTO_RELOAD: null
  TESTING: false
  TRAP_BAD_REQUEST_ERRORS: false
  TRAP_HTTP_EXCEPTIONS: false
  USE_X_SENDFILE: false

CUSTOM_SETTINGS:
  CUSTOM_SETTING: "custom-setting-yml"
