# Default Flask settings
APPLICATION_ROOT = None
DEBUG = False
EXPLAIN_TEMPLATE_LOADING = False
FLASK_DEBUG = True
JSONIFY_MIMETYPE = "application/json"
JSONIFY_PRETTYPRINT_REGULAR = True
JSON_AS_ASCII = True
JSON_SORT_KEYS = True
LOGGER_HANDLER_POLICY = "always"
LOGGER_NAME = "flask_app"
MAX_CONTENT_LENGTH = None
PERMANENT_SESSION_LIFETIME = "31 days 0:00:00"
PREFERRED_URL_SCHEME = "http"
PRESERVE_CONTEXT_ON_EXCEPTION = None
PROPAGATE_EXCEPTIONS = None
SECRET_KEY = None
SEND_FILE_MAX_AGE_DEFAULT = "12:00:00"
SERVER_NAME = None
SESSION_COOKIE_DOMAIN = None
SESSION_COOKIE_HTTPONLY = True
SESSION_COOKIE_NAME = "session"
SESSION_COOKIE_PATH = None
SESSION_COOKIE_SECURE = False
SESSION_REFRESH_EACH_REQUEST = True
TEMPLATES_AUTO_RELOAD = None
TESTING = False
TRAP_BAD_REQUEST_ERRORS = False
TRAP_HTTP_EXCEPTIONS = False
USE_X_SENDFILE = False

# Custom settings
CUSTOM_SETTING = "custom-setting-py"
